// baseline typography
html {
	font-size:16px;
}
html {
	font-size:62.5%;
}
a {
	text-decoration:none;
	color:$blue;
	&:hover {
		color:$orange;
	}
}
ul {

	li {
		color:$p-font;
		line-height:1.625;
		letter-spacing:.025rem;
		font-size:1.6rem;
		font-weight:400;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family:$fira-sans;
	font-weight:400;
	line-height:1.625;
	margin-top:1%;
	margin-bottom:1%;
	color:$h-font;
}
h1 {
	font-size:2.4rem;
}
h2 {
	font-size:2.2rem;
	margin-bottom:0px;
}
h3 {
	font-size:1.8rem;
	margin-bottom:0px;
	margin-top:2.4rem;
}
h4 {
	font-size:1.2rem;
	text-transform:uppercase;
	color:$d-font;
	margin-top:0px;
	margin-bottom:0px;
}
p {
	font-family:$fira-sans;
	color:$p-font;
	line-height:1.625;
	letter-spacing:.025rem;
	font-size:1.6rem;
	font-weight:400;
	margin-top:.8rem;
}
span {
	&.title {
		font-size:1.4rem;
	}
}
.orange {
	color:$orange;
}