<h3>Countries</h3>
<ul class="countrylist">
  <li><a href="/countries/afghanistan">Afghanistan</a></li>
  <li><a href="/countries/chile">Chile</a></li>
  <li><a href="/countries/china">China</a></li>
  <li><a href="/countries/egypt">Egypt</a></li>
  <li><a href="/countries/guatemala">Guatemala</a></li>
  <li><a href="/countries/india">India</a></li>
  <li><a href="/countries/iraq">Iraq</a></li>
  <li><a href="/countries/japan">Japan</a></li>
  <li><a href="/countries/kenya">Kenya</a></li>
  <li><a href="/countries/middle-east">Middle East</a></li>
  <li><a href="/countries/pakistan">Pakistan</a></li>
  <li><a href="/countries/vietnam">Vietnam</a></li>
</ul>
