<header>
    <div class="header_contents">
        <div class="logo_wrapper flexitem__centeralign">
            <h1><a href="/"><img class="site_logo" src="/media/ipo_logo.svg" alt=""></a></h1>
        </div>
        <div class="nav_wrapper flexitem__centeralign">
            {% include navigation.html %}
        </div>

    </div>
    <!-- <div class="homepage__banner">
      <div class="imagewrapper homepage__banner--image">
          <a href="/countries/afghanistan"><img src="/media/afghanistan_outline.svg" alt=""></a>
      </div>
      <div class="homepage__banner--text">
      <h2>Afghanistan</h2>
      <p>Our afghani projects are helping restore balance to this country. Learn how you can help.</p>
      <p><a class="btn" href="/countries/afghanistan">Learn more</a></p>
      </div>
    </div> -->

</header>
