<div class="menu-btn">
    <i class="fa fa-bars"></i>
</div>
<nav id="main-nav">
    <div class="nav-wrapper">
        <ul>
            <li>
                <a class="/about">About</a>
                <ul class="dropdown">
                    <li><a href="/about">Mission</a></li>
                    <li><a href="/about/team">Team</a></li>
                    <li><a href="/about/where-we-work">Where we work</a></li>
            <!--         <li><a href="/about/impact">Impact</a></li> -->
                    <li><a href="/about/contact">Contact & Visit</a></li>

            </ul>
            </li>
        </li>
        <li>
            <a>Research</a>
            <ul class="dropdown">
                <li><a href="/research/innovationlab">Innovation Labs</a></li>
                    <li><a href="/projects/CAS">CAS</a></li>
                    <li><a href="/projects/AIP">AIP</a></li>
            </ul>
        </li>
        <li>
            <a>Education</a>
            <ul class="dropdown">
                <li><a href="/scholars-and-students">Scholars and Students</a>
                <!-- <ul class="subdropdown">
                        <li><a href="/scholars-and-students/RIFA">RIFA</a></li>
                        <li><a target="_blank" href="http://borlaugleap.org/">LEAP</a></li>
                        <li><a target="_blank" href="http://iad.ucdavis.edu/">UID</a></li>
                    </ul> -->
                </li>
                <li><a href="/institutional-building">Institutional building</a>
                <!-- <ul class="subdropdown">
                        <li><a href="/projects/CAS">CAS</a></li>
                        <li><a href="/countries/haiti">Haiti</a></li>
                        <li><a href="/countries/china">China</a></li>
                        <li><a href="/countries/vietnam">Vietnam</a></li>
                    </ul> -->
                </li>
            </ul>
        </li>
        <li>
            <a>Training and Extension</a>
            <ul class="dropdown">
                <li><a href="/training-and-extension/short-term">Short term training</a>
                <!-- <ul class="subdropdown">
                        <li><a target="_blank" href="http://www.fas.usda.gov/programs/cochran-fellowship-program">Cochran</a></li>
                        <li><a target="_blank" href="http://www.fas.usda.gov/programs/borlaug-fellowship-program">Borlaug</a></li>
                    </ul> -->
                </li>
                <li><a href="/training-and-extension/extension-capacities">Building extension capacities</a>
                <!-- <ul class="subdropdown">
                        <li><a href="/projects/AAEP">AAEP</a></li>
                        <li><a href="/projects/ingenaes">INGENAES</a></li>
                        <li><a href="/countries/guatemala">Guatemala</a></li>
                        <li><a target="_blank" href="http://www.meas-extension.org/">MEAS</a></li>
                    </ul> -->
                </li>
                <li><a href="/training-and-extension/extension-ict">Extension methodology and ICT work</a>
                <!-- <ul class="subdropdown">
                        <li><a target="_blank" href="http://echina-apple.com/">e-China Apple</a></li>
                        <li><a target="_blank" href="http://epakag.ucdavis.edu/">e-Pak Ag</a></li>
                        <li><a target="_blank" href="http://eafghanag.ucdavis.edu/">e-Afghan Ag</a></li>
                        <li><a target="_blank" href="http://www.agextonline.com/index.html">AgExtOnline</a></li>
                    </ul> -->
                </li>
            </ul>

        </li>
    </ul>
</div>
</nav>
<div class="slideout-wrapper">
<nav id="slideout-nav" class="pushy pushy-left">
    <ul>
        <li class="pushy-submenu">
            <a>About</a>
            <ul><li><a href="/about">Mission</a></li>
            <li><a href="/about/team">Team</a></li>
            <li><a href="/about/where-we-work">Where we work</a></li>
            <li><a href="/about/contact">Contact & Visit</a></li>
        </ul>
    </li>
    <li class="pushy-submenu">
        <a>Research</a>
        <ul>
            <li><a href="/research/innovationlab">Innovation Labs</a></li>
            <li><a href="/projects/CAS">CAS</a></li>
            <li><a href="/projects/AIP">AIP</a></li>
        </ul>
    </li>
    <li class="pushy-submenu">
        <a>Education</a>
        <ul>
            <li><a href="/scholars-and-students">Scholars and Students</a>
            <!-- <ul>
                    <li><a href="/scholars-and-students/RIFA">RIFA</a></li>
                    <li><a target="_blank" href="http://borlaugleap.org/">LEAP</a></li>
                    <li><a target="_blank" href="http://iad.ucdavis.edu/">UID</a></li>
                </ul> -->
            </li>
            <li><a class="/institutional-building">Institutional building</a>
            <!-- <ul>
                    <li><a href="/projects/CAS">CAS</a></li>
                    <li><a href="/countries/haiti">Haiti</a></li>
                    <li><a href="/countries/china">China</a></li>
                    <li><a href="/countries/vietnam">Vietnam</a></li>
                </ul> -->
            </li>
        </ul>
    </li>
    <li class="pushy-submenu">
        <a>Training and Extension</a>
        <ul>
            <li><a href="/training-and-extension/short-term">Short term training</a>
            <!-- <ul>
                    <li><a target="_blank" href="http://www.fas.usda.gov/programs/cochran-fellowship-program">Cochran</a></li>
                    <li><a target="_blank" href="http://www.fas.usda.gov/programs/borlaug-fellowship-program">Borlaug</a></li>
                </ul> -->
            </li>
            <li><a href="/training-and-extension/extension-capacities">Building extension capacities</a>
            <!-- <ul>
                    <li><a href="/projects/AAEP">AAEP</a></li>
                    <li><a href="/projects/ingenaes">INGENAES</a></li>
                    <li><a href="/countries/guatemala">Guatemala</a></li>
                    <li><a target="_blank" href="http://www.meas-extension.org/">MEAS</a></li>
                </ul> -->
            </li>
            <li><a href="/training-and-extension/extension-ict">Extension methodology and ICT work</a>
            <!-- <ul>
                    <li><a target="_blank" href="http://echina-apple.com/">e-China Apple</a></li>
                    <li><a target="_blank" href="http://epakag.ucdavis.edu/">e-Pak Ag</a></li>
                    <li><a target="_blank" href="http://eafghanag.ucdavis.edu/">e-Afghan Ag</a></li>
                    <li><a target="_blank" href="http://www.agextonline.com/index.html">AgExtOnline</a></li>
                </ul> -->
            </li>
        </ul>

    </li>
</ul>
</nav>
</div>
