*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.landing__wrapper {
  @include container;
  margin-top:200px;
  display:flex;
  justify-content: space-between;
  .col {

  }
  .left-col {
    p {
      max-width:700px;
    }
  }
  .right-col {
    text-align: right;
  }
  // .left-col {
  //   width:75%;
  //   vertical-align: top;
  //   display: inline-block;
  // }
  // .right-col {
  //   width:24%;
  //   vertical-align: top;
  //   display: inline-block;
  // }
}
