
@font-face {
    font-family: 'fira_reg';
    src:
    url('/media/fonts/FiraSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/media/fonts/FiraSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'fira_light';
    src:
    url('/media/fonts/FiraSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('/media/fonts/FiraSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'fira_bold';
    src:
    url('/media/fonts/FiraSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('/media/fonts/FiraSans-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}
    $fira-reg:          'fira_reg', arial, sans-serif;//
    $fira-light:        'fira_light', sans-serif;//
    $fira-bold:         'fira_bold', arial, sans-serif;//


$primary-color: #444b58;
$secondary-color: #C99700;

$borders: #c7c8cc;
$bg-color: #F8F9FA;

$primary-font: rgba(33,37,45,.9);
$secondary-font: rgba(33,37,45,.6);

// mixins
@mixin breakpoint($point) {
    @if $point==hdres {
        @media (max-width:1600px){
            @content ;
        }
    }
    @if $point==desktop {
        @media (max-width: 1250px) {
            @content ;
        }
    }
    @else if $point==laptop {
        @media (max-width: 1000px) {
            @content ;
        }
    }
    @else if $point==rufus {
        @media (max-width: 850px) {
            @content ;
        }
    }
    @else if $point==tablet {
        @media (max-width: 750px) {
            @content ;
        }
    }
    @else if $point==mobileonly {
        @media (max-width: 640px) {
            @content ;
        }
    }
    @else if $point==smallmobile {
        @media (max-width: 450px) {
            @content ;
        }
    }
}

@mixin transitiontime {
    transition-delay: 0s;
    transition-duration: 0.75s;
    transition-property: all;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.75s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
}


@mixin transition($values: 0.3s ease-in) {
    transition: $values;
    -webkit-transition: $values;
    -webkit-transform: translateZ(0); // Fix animation in Safari
}

@mixin container {
    width: 80%;
    margin: 0 auto;
    min-width: 300px;
    @include breakpoint(laptop) {
        width: 90%;
    }
}
