// baseline typography
html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    line-height: 1.5;
    font-family: $fira-reg;
    @include breakpoint(tablet) {
        font-size: 8px;
    }
    @include breakpoint(mobile) {
        font-size: 7px;
    }
}
p {
  font-size:1.6rem;
  color:$primary-font;
  line-height:1.5
}
p.lead {
  font-size:2.2rem;

}
a {
  .cta & {
    font-size:2.6rem;
    margin-right:10px;
    color:$primary-font;
    &:hover {
      color:$primary-color;
    }
  }
}
