---
layout: default
---
{% include header-blog.html %}
<main>
<div class="main_contents">
    <ul class="feed-list">
                {% for post in site.posts %}
                <li>
                    <img class="post_thumbnail" src="{{ post.image }}" srcset="{{ post.srcset }}">
                    <h1 class="post_title">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h1>
                    <p class="post_rating">{{ post.rating }}</p>
                    <p class="post_description">{{ post.description }}</p>
                </li>
                {% endfor %}
            </ul>
</div>
   
</main>
