---
layout: default
---
{% include header.html %}
<div class="breadsearch">
    <div class="breadwrapper">
        <div class="alignitems--center breadcrumbs">
            <!-- {% include breadcrumbs.html %} -->
        </div>
    </div>
    <div class="alignitems--center searchwrapper searchwrapper--smallsearch">
        <form class="small_search" action="/search" method="GET">
            <input type="text" name="q" autocomplete="off" required>
        </form>
    </div>
</div>
<div class="main">
    <div class="main_contents">
        {{ content }}
    </div>
</div>
