body {
	background: #f29c1d; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #f29c1d 0%, #ed42b1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f29c1d), color-stop(100%,#ed42b1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #f29c1d 0%,#ed42b1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #f29c1d 0%,#ed42b1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #f29c1d 0%,#ed42b1 100%); /* IE10+ */
	background: linear-gradient(135deg,  #f29c1d 0%,#ed42b1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29c1d', endColorstr='#ed42b1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
h1{
	color: pink;
}
.bushc{
	background-image:url("images/bushc.svg");
}
.bushl{

}
.bushr{
	
}